.file-manager-iframe {
	width: 100%;
	vertical-align: bottom;
}

.media-picker-modal {
    .modal-header {
        background: #f1f1f1;

    }
    .modal-body {
        background: #f9f9f9;
        padding: 15px 0;
    }

    
}
